%h1 Games
%a{:href => new_member_game_path} New Game
= will_paginate @gameRefs
%table
  %tr
    %th Title
    %th Rating
  - @gameRefs.each do |game|
    %tr
      %td
        %a{:href => edit_member_game_path(game)}=game.title  
      %td= h game.rating
